@use '../styles/abstracts/vars';
@use '../styles/abstracts/mixins';


.heading1 {
    font-family: vars.$font_secondary;
    font-size: 1.6rem;
    color: vars.$color_black;
    @include mixins.breakpoint(laptop) {
        font-size: 3rem;
    }
}

.heading2 {
    font-family: vars.$font_primary;
    font-size:1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-bottom: 1px slid vars.$color_black;
    @include mixins.breakpoint(laptop) {
        font-size: 1.5rem;
    }
}

.heading3 {
    font-family: vars.$font_secondary;
    font-size: 1.25rem;
    font-weight: bold;
    @include mixins.breakpoint(laptop) {
        font-size: 2rem;
    }
}
.heading4 {
    font-family: vars.$font_secondary;
    font-size: 1.25rem;
    font-weight: bold;
    @include mixins.breakpoint(laptop) {
        font-size: 2rem;
      }
    }
.heading5 {
    font-family: vars.$font_secondary;
    font-size: 1.25rem;
    font-weight: bold;
    @include mixins.breakpoint(laptop) {
            font-size: 2rem;
        }
    }
.heading6 {
    font-family: vars.$font_secondary;
    font-size: 1.25rem;
    font-weight: bold;
    @include mixins.breakpoint(laptop) {
             font-size: 2rem;
            }
 }