@use '../abstracts/mixins';

.responsive-img {
    width: 100%;
    height: auto;
}
.alignwide {
    @include mixins.breakpoint(tablet) {
        margin-left: -2rem ;
        margin-right: -2rem ;
    }
}
.alignfull {
    margin-left: -1rem;
    margin-right: -1rem;
    @include mixins.breakpoint(tablet) {
        margin-left: calc(((100vw - 40rem)/2)* -1);
        margin-right: calc(((100vw - 40rem)/2)* -1);
    }
    @include mixins.breakpoint(laptop) {
        margin-left: calc(((100vw - 45rem)/2)* -1);
        margin-right: calc(((100vw - 45rem)/2)* -1);
    }
    @include mixins.breakpoint(desktop) {
        margin-left: calc(((100vw - 50rem)/2)* -1);
        margin-right: calc(((100vw - 50rem)/2)* -1);
    }
}